* {
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
    display:  grid;
    grid-template-columns: repeat( 2, 1fr );
    grid-template-rows: repeat( 4, 1fr );
    width: 100vw;
    height: 100vh;

    align-items: center;
    justify-content: center;
}

video, canvas {
    position: absolute;
    grid-row    : 1 / span 2;
    grid-column : 1 / span 4;
    width       : 100%;
    height      : 100%;
    object-fit: cover;
}
video {
    z-index: 1;
}
canvas {
    z-index: 2;
}

button {
    grid-row: 4;
    z-index: 4;
    border-radius: 1em;
    width: 100%;
    height: 100%;
    grid-column: 1 / span 2;
}